body {
  padding: 0;
  margin: 0;
  background: rgb(230, 227, 227);
}

.relative {
  position: relative;
}

.intro-home {
  height: 450px;
}

/* .nav {
  width: 100% !important;
  margin: 0;
} */

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.image-logo {
  animation: pulse 4.5s linear 2s infinite;
  width: 550px;
  height: 400px;
}

.pointer {
  cursor: pointer;
}

.min-height {
    min-height: 100vh;
}

.register {
    width: 50%;
}

.slick-slider {
  min-height: 100px !important;
  overflow: visible !important;
}

.cryptodata {
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}

.card-crypto {
  min-height: 150px !important;
}

.sidebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1600 !important;
  overflow: hidden;
  transform: translate(-100%);
  transition: all 1s ease-in-out
}

.show-side-bar {
  transform: translate(0);
}

.icon-click {
  font-size: 2rem;
  color: rgb(32, 32, 155);
}

.card-cryptos:nth-child(odd) {
  background: rgb(136, 140, 207) !important;
}

.card-cryptos:nth-child(even) {
  background: rgb(54, 62, 199) !important;
}


@media screen and (max-width: 1023px) {
  body {
    background: rgb(87, 96, 214);
    color: white;
  }

  .nav {
    background: rgb(87, 96, 214) !important;
    color: white !important;
  }

  .image-logo {
    animation: pulse 4.5s linear 2s infinite;
    width: 350px;
    height: 200px;
  }

  .card-crypto {
    background: rgb(136, 140, 207) !important;
  }

  .card-cryptos:nth-child(4n + 1),
.card-cryptos:nth-child(4n) {
  background: rgb(136, 140, 207) !important;
}

.card-cryptos:nth-child(4n + 2),
.card-cryptos:nth-child(4n + 3) {
  background: rgb(54, 62, 199) !important;
}

  .intro-home {
    height: 400px;
  }
}

@media screen and (max-width: 400px){

.card-cryptos:nth-child(odd) {
  background: rgb(136, 140, 207) !important;
}

.card-cryptos:nth-child(even) {
  background: rgb(54, 62, 199) !important;
}

}
